* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 10%;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(20px);
    background: rgba(255,255,255,0.25);
    z-index: 999;
}

.navbar nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #222;
    font-weight: 500;
}

.navbar nav a.active {
    color: black;
    font-weight: 600;
}

/* HERO */
.hero {
    height: 95vh;
    background-image: url('images/blur.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.hero-overlay {
    width: 45%;
    padding: 40px;
    border-radius: 20px;

    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255,255,255,0.35);
}

.hero-overlay h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
}

.hero-overlay p {
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.8;
}

.search-box {
    margin-top: 20px;
    display: flex;
}

.search-box input {
    flex: 1;
    padding: 12px;
    border-radius: 8px 0 0 8px;
    border: none;
    outline: none;
}

.search-box button {
    padding: 12px 20px;
    border: none;
    background: #144734;
    color: white;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

/* PRODUCTS */
.products-section {
    padding: 60px 10%;
}

.section-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    gap: 25px;
}

.product-card {
    background: rgba(255,255,255,0.2);
    border-radius: 14px;
    backdrop-filter: blur(15px);
    padding: 20px;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.3);
    cursor: pointer;
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
}

.price {
    margin-top: 5px;
    font-weight: 600;
}

.price span {
    margin-left: 4px;
    color: #888;
    text-decoration: line-through;
}

/* Make all sections adapt spacing */
@media (max-width: 768px) {
    .navbar {
        padding: 16px 5%;
    }

    section,
    .hero,
    .products-section,
    .about-section,
    .contact-container,
    .product-main {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
}
/* ABOUT */
.about-section {
    padding: 80px 10%;
    background:#f2f2f2;
}

.about-section h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.about-section p {
    width: 70%;
    font-size: 14px;
    line-height: 1.7;
    color: #444;
}
/* FOOTER */
footer {
  text-align:center;
  padding:24px;
  color:var(--muted);
  margin-top:40px;
  font-size:14px;
}